---
interface Props {
  calLink: string;
  namespace?: string;
  class?: string;
}

const { calLink, namespace = "booking", class: className } = Astro.props;
---

<div
  id="cal-inline"
  class:list={[
    "bg-background min-h-[620px] w-full overflow-hidden rounded-2xl",
    className,
  ]}
>
</div>

<script is:inline define:vars={{ calLink, namespace }}>
  (function (C, A, L) {
    let p = function (a, ar) {
      a.q.push(ar);
    };
    let d = C.document;
    C.Cal =
      C.Cal ||
      function () {
        let cal = C.Cal;
        let ar = arguments;
        if (!cal.loaded) {
          cal.ns = {};
          cal.q = cal.q || [];
          d.head.appendChild(d.createElement("script")).src = A;
          cal.loaded = true;
        }
        if (ar[0] === L) {
          const api = function () {
            p(api, arguments);
          };
          const namespace = ar[1];
          api.q = api.q || [];
          if (typeof namespace === "string") {
            cal.ns[namespace] = cal.ns[namespace] || api;
            p(cal.ns[namespace], ar);
            p(cal, ["initNamespace", namespace]);
          } else p(cal, ar);
          return;
        }
        p(cal, ar);
      };
  })(window, "https://app.cal.com/embed/embed.js", "init");

  Cal("init", namespace, { origin: "https://cal.com" });
  Cal.ns[namespace]("inline", {
    elementOrSelector: "#cal-inline",
    config: { layout: "month_view", theme: "dark" },
    calLink,
  });
  Cal.ns[namespace]("ui", {
    theme: "dark",
    cssVarsPerTheme: {
      dark: {
        "cal-bg": "#0a0a0a",
        "cal-bg-emphasis": "#262626",
        "cal-bg-subtle": "#171717",
        "cal-bg-muted": "#171717",
        "cal-border": "#262626",
        "cal-border-emphasis": "#404040",
        "cal-text": "#fafafa",
        "cal-text-emphasis": "#ffffff",
        "cal-text-muted": "#a3a3a3",
        "cal-brand": "#fafafa",
      },
    },
    hideEventTypeDetails: false,
    layout: "month_view",
  });
</script>
